*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-font: 'Arial', sans-serif;
    --secondary-font: 'Times New Roman', serif;
}

html {
    font-size: 62.5%;
    padding-bottom: 5rem;
}

.recipe__finder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12rem;
    
}

.recipe__title-name {
    font-family: var(--primary-font);
    font-size: 7rem;
}

.recipe__text {
    font-family: var(--secondary-font);
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.recipe__search {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.recipe__search-box {
    font-family: var(--secondary-font);
    padding: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    border-width: 1px;
}

.recipe__search-btn {
    font-family: var(--secondary-font);
    background-color: black;
    color: white;
    padding: 1.75rem 2rem 2rem 2rem;
    font-size: 1.5rem;
    border-radius: 8px;
    border: none;
    height: 5rem;
    text-align: center;
}

.recipe__search-btn:hover {
    background-color: blue;
    cursor: pointer;
}

.recipe__random {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.recipe__random-btn {
    font-family: var(--secondary-font);
    background-color: pink;
    padding: 1.75rem;
    font-size: 1.75rem;
    border-radius: 8px;
    border: none;
}

.recipe__random-btn:hover {
    background-color: red;
    cursor: pointer;
}

.recipe__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 4rem;
}

.recipe__container-card {
    transition: all 0.5s ease-in-out;
}

.recipe__container-card h2 {
    font-size: 3rem;
    font-family: var(--primary-font);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.recipe__container-card img {
    width: 100%;
}

.recipe__container-card img:hover {
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 15%);
}

.recipe__random-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.recipe__random-card img:hover {
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 15%);
}

.recipe__random-card h2 {
    font-size: 3rem;
    font-family: var(--primary-font);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.recipe__random-card img {
    width: 50%;
}

.ingredients__container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 1;
    padding: 15px;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s ease 0s;
}

.ingredients__container.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s, backdrop-filter 0.3s ease;
    backdrop-filter: blur(0px);
}

.ingredients__list {
    background-color: white;
    max-width: 900px;
    max-height: 75vh;
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    padding: 25px 30px;
    position: relative;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.ingredients__container.hidden .ingredients__list {
    transform: scale(0.95);
}

.ingredients__list .ingredients__exit-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    color: red;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.ingredients__list .ingredients__exit-btn:hover {
    color: black;
    background-color: white;
    
}

.ingredients__details h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.ingredients__details img {
    width: 100%;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.ingredients__details h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}

.ingredients__details ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 25px;
}

.ingredients__details ul li {
    padding: 8px 0;
    border-bottom: 1px dashed lightgray;
    font-size: 1rem;
}

.ingredients__details il li:last-child {
    border-bottom: none;
}

.ingredients__details p {
    line-height: 1.8;
    font-size: 1rem;
}

.ingredients__details a {
    color: black;
    text-decoration: none;
    font-family: 600;
}

.ingredients__details a:hover {
    color: green;
    text-decoration: underline;
}